@inject NavigationManager Navigation

        Hola,
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Cerrar Sesión</button>
        <a href="authentication/login">Iniciar Sesión</a>

@code{

    private Task BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateTo("authentication/logout");
        return Task.CompletedTask;
    }
}